.Thoughts {
    width: 950px;
    margin: 0 auto;
    
    .Sidebar {
        width: 350px;
        float: left;
    }
    
    .Content {
        width: 591px;
        min-height: 500px;
        float:left;
        border-left: 1px solid #EF798A;
        text-align:left;
        padding-left: 8px;

        ul {
            li {
                margin-bottom:12px;
            }
        }
    }
}
